<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h2>Our cocktails currently available:</h2>
    </div>
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4">
        <div class="cocktail-index">
          <% if cocktail.photo.present? %>
            <div class="cocktail-index-image">
              <%= link_to cl_image_tag(cocktail.photo, class: 'home-card'), cocktail_path(cocktail) %>
              <div class="cocktail-index-text">
                <%= link_to cocktail.name, cocktail_path(cocktail) %>
              </div>
            </div>
          <% else %>
            <div class="cocktail-index-image">
              <%= link_to cl_image_tag('kobby-mendez-xBFTjrMIC0c-unsplash_dmwclv', class: 'home-card'), cocktail_path(cocktail) %>
              <div class="cocktail-index-text">
                <%= link_to cocktail.name, cocktail_path(cocktail) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
