<%= render 'shared/navbar' %>
<div class="container">
  <h1>Create your cocktail here!</h1>

  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit, label: "Create", wrapper_html: { class: 'btn-cocktail' } %>
  <% end %>
  <br>
  <p><%= link_to "Back to All Cocktails", cocktails_path, class: 'btn' %></p>
</div>
