<%= render 'shared/navbar' %>
<div class="container">
  <div class="row cocktail-box">
    <div class="col-lg-10 cocktail-box-overview">
      <div class="cocktail-box-item">
        <%  if @cocktail.photo.present? %>
          <%= cl_image_tag @cocktail.photo, crop: :fill, class: 'show-card' %>
          <% else %>
        <% end %>
        <div class="cocktail-description">
        <h1><%= @cocktail.name %></h1>

        <p>Add the ingredients and follow the instructions:</p>
        <ul>
          <% @cocktail.doses.each do |dose| %>
          <li class='ingredient'><%= dose.ingredient.name %> (<%= dose.amount %>) : <%= dose.description %>
          <%= link_to cl_image_tag('icon_delete_w56ihn', class: 'delete-icon'), dose_path(dose),
                    method: :delete,
                    data: { confirm: "Are you sure to delete this ingredient?" }%></li>
          <% end  %>
        </ul>
        <p><%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %></p>
        <p><%= link_to "Delete this cocktail", cocktail_path(@cocktail),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></p>
        <p><%= link_to "Back to all cocktails", cocktails_path %></p>
        </div>
    </div>
  </div>
</div>
</div>
